.control {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-lg);
  border-radius: var(--mantine-radius-md);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}

.main {
  margin-left: 1rem;
  margin-right: 1rem;
}

.button {
  background-color: var(--mantine-color-body);
  padding: 1rem;
  margin: 0.5rem;
  border: 0px;
}
